<h1>Songs</h1>
<div class="song">
  <% @songs.each do |song| %>
    <p><%= song.name %></p>
    <p><%= song.duration %></p>
    <p><%= song.genre %></p>
  <% end %>
</div>

<hr>
<%= link_to "[Add New Song]", new_song_path %>
